name: Tests
on:
    pull_request:
    push:
        branches: [ main ]
    schedule:
        -   cron: "7,37 * * * *"
    workflow_dispatch:

jobs:
    docker-test:
        runs-on: ubuntu-22.04

        steps:
            -   name: Checkout repo
                uses: actions/checkout@v4

            -   name: Build and run Containerfile
                run: |
                    IMAGE_ID=$(docker build -q -f Containerfile .)
                    echo "Built image: $IMAGE_ID"
                    docker run --rm "$IMAGE_ID"
